In [68]:
import numpy as np 
import pandas as pd 

#import data
data = pd.read_csv("diamonds.csv")

In [69]:
#information of train data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
Unnamed: 0    53940 non-null int64
carat         53940 non-null float64
cut           53940 non-null object
color         53940 non-null object
clarity       53940 non-null object
depth         53940 non-null float64
table         53940 non-null float64
price         53940 non-null int64
x             53940 non-null float64
y             53940 non-null float64
z             53940 non-null float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [70]:
#information of each feature
data.describe()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

# preprocessing

In [71]:
clar_order = ["I1", "SI2", "SI1", "VS2", "VS1", "VVS2", "VVS1", "IF"]
cut_order = ['Fair', 'Good', 'Very Good', 'Premium', 'Ideal']
color_order = sorted(data['color'].unique().tolist(), reverse = True)

#One hot encoding implementation
one_hot_encoders_data =  pd.get_dummies(data)
cols = one_hot_encoders_data.columns
clean_data = pd.DataFrame(one_hot_encoders_data,columns= cols)
clean_data.head()

,Unnamed: 0,carat,depth,table,price,x,y,z,cut_Fair,cut_Good,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,1,0.23,61.5,55.0,326,3.95,3.98,2.43,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2,0.21,59.8,61.0,326,3.89,3.84,2.31,0,0,...,0,0,0,0,1,0,0,0,0,0
2,3,0.23,56.9,65.0,327,4.05,4.07,2.31,0,1,...,0,0,0,0,0,0,1,0,0,0
3,4,0.29,62.4,58.0,334,4.20,4.23,2.63,0,0,...,1,0,0,0,0,0,0,1,0,0
4,5,0.31,63.3,58.0,335,4.34,4.35,2.75,0,1,...,0,1,0,0,0,1,0,0,0,0

In [72]:
clean_data['cut']=data['cut']
clean_data['color']=data['color']
clean_data['clarity']=data['clarity']

In [73]:
#add point and priceperpoint
for dataset in clean_data:
    clean_data['point']=clean_data['carat']*100
    clean_data['priceperpoint']=clean_data['price']/clean_data['point']
    
clean_data.head(3)

,Unnamed: 0,carat,depth,table,price,x,y,z,cut_Fair,cut_Good,...,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,cut,color,clarity,point,priceperpoint
0,1,0.23,61.5,55.0,326,3.95,3.98,2.43,0,0,...,1,0,0,0,0,Ideal,E,SI2,23.0,14.173913
1,2,0.21,59.8,61.0,326,3.89,3.84,2.31,0,0,...,0,0,0,0,0,Premium,E,SI1,21.0,15.523810
2,3,0.23,56.9,65.0,327,4.05,4.07,2.31,0,1,...,0,1,0,0,0,Good,E,VS1,23.0,14.217391

In [74]:
#cut
Cut = {"Fair": 5, "Good": 4, "Very Good": 3, "Premium": 2, "Ideal": 1}

clean_data=clean_data.replace({"cut": Cut})
clean_data.head(3)

,Unnamed: 0,carat,depth,table,price,x,y,z,cut_Fair,cut_Good,...,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,cut,color,clarity,point,priceperpoint
0,1,0.23,61.5,55.0,326,3.95,3.98,2.43,0,0,...,1,0,0,0,0,1,E,SI2,23.0,14.173913
1,2,0.21,59.8,61.0,326,3.89,3.84,2.31,0,0,...,0,0,0,0,0,2,E,SI1,21.0,15.523810
2,3,0.23,56.9,65.0,327,4.05,4.07,2.31,0,1,...,0,1,0,0,0,4,E,VS1,23.0,14.217391

In [75]:
#color
Color = {"D": 1,"E": 2, "F": 3, "G": 4, "H": 5, "I": 6, "J": 7}
clean_data=clean_data.replace({"color": Color})
clean_data.head(3)

,Unnamed: 0,carat,depth,table,price,x,y,z,cut_Fair,cut_Good,...,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,cut,color,clarity,point,priceperpoint
0,1,0.23,61.5,55.0,326,3.95,3.98,2.43,0,0,...,1,0,0,0,0,1,2,SI2,23.0,14.173913
1,2,0.21,59.8,61.0,326,3.89,3.84,2.31,0,0,...,0,0,0,0,0,2,2,SI1,21.0,15.523810
2,3,0.23,56.9,65.0,327,4.05,4.07,2.31,0,1,...,0,1,0,0,0,4,2,VS1,23.0,14.217391

In [76]:
#clarity
Clarity = {"IF" : 1,"VVS1": 2,"VVS2": 3,"VS1": 4, "VS2": 5, "SI1": 6, "SI2": 7, "I1": 8}
clean_data=clean_data.replace({"clarity": Clarity})
clean_data.head(3)

,Unnamed: 0,carat,depth,table,price,x,y,z,cut_Fair,cut_Good,...,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,cut,color,clarity,point,priceperpoint
0,1,0.23,61.5,55.0,326,3.95,3.98,2.43,0,0,...,1,0,0,0,0,1,2,7,23.0,14.173913
1,2,0.21,59.8,61.0,326,3.89,3.84,2.31,0,0,...,0,0,0,0,0,2,2,6,21.0,15.523810
2,3,0.23,56.9,65.0,327,4.05,4.07,2.31,0,1,...,0,1,0,0,0,4,2,4,23.0,14.217391

# Discretization

In [77]:
#priceperpoint
clean_data.loc[clean_data['priceperpoint'] < 21, 'priceperpoint'] =1
clean_data.loc[(clean_data['priceperpoint'] >= 21) & (clean_data['priceperpoint']<42), 'priceperpoint'] =2
clean_data.loc[(clean_data['priceperpoint'] >= 42) & (clean_data['priceperpoint']<63), 'priceperpoint'] =3
clean_data.loc[clean_data['priceperpoint'] >= 63, 'priceperpoint'] =4
clean_data['priceperpoint']=clean_data['priceperpoint'].astype(int)
clean_data['priceperpoint'].value_counts()

2    26551
3    12474
4     7483
1     7432
Name: priceperpoint, dtype: int64

In [78]:
#carat
clean_data.loc[clean_data['carat'] < 0.5, 'carat_discrete'] =1
clean_data.loc[(clean_data['carat'] >= 0.5) & (clean_data['carat']<1), 'carat_discrete'] =2
clean_data.loc[clean_data['carat'] >= 1, 'carat_discrete'] =3
clean_data['carat_discrete']=clean_data['carat_discrete'].astype(int)
clean_data['carat_discrete'].value_counts()

3    19060
1    17674
2    17206
Name: carat_discrete, dtype: int64

In [79]:
clean_data.head(3)

,Unnamed: 0,carat,depth,table,price,x,y,z,cut_Fair,cut_Good,...,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,cut,color,clarity,point,priceperpoint,carat_discrete
0,1,0.23,61.5,55.0,326,3.95,3.98,2.43,0,0,...,0,0,0,0,1,2,7,23.0,1,1
1,2,0.21,59.8,61.0,326,3.89,3.84,2.31,0,0,...,0,0,0,0,2,2,6,21.0,1,1
2,3,0.23,56.9,65.0,327,4.05,4.07,2.31,0,1,...,1,0,0,0,4,2,4,23.0,1,1

In [80]:
#drop unused feature: ID, price, table, depth
final_data=clean_data.drop(clean_data.columns[0],axis=1)
final_data=final_data.drop(['x','y','z','price','table','depth','point'],axis=1)
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 26 columns):
carat             53940 non-null float64
cut_Fair          53940 non-null uint8
cut_Good          53940 non-null uint8
cut_Ideal         53940 non-null uint8
cut_Premium       53940 non-null uint8
cut_Very Good     53940 non-null uint8
color_D           53940 non-null uint8
color_E           53940 non-null uint8
color_F           53940 non-null uint8
color_G           53940 non-null uint8
color_H           53940 non-null uint8
color_I           53940 non-null uint8
color_J           53940 non-null uint8
clarity_I1        53940 non-null uint8
clarity_IF        53940 non-null uint8
clarity_SI1       53940 non-null uint8
clarity_SI2       53940 non-null uint8
clarity_VS1       53940 non-null uint8
clarity_VS2       53940 non-null uint8
clarity_VVS1      53940 non-null uint8
clarity_VVS2      53940 non-null uint8
cut               53940 non-null int64
color             53940 non-null int64
clarity           53940 non-null int64
priceperpoint     53940 non-null int32
carat_discrete    53940 non-null int32
dtypes: float64(1), int32(2), int64(3), uint8(20)
memory usage: 3.1 MB

In [81]:
final_data.head(3)

,carat,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_D,color_E,color_F,color_G,...,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,cut,color,clarity,priceperpoint,carat_discrete
0,0.23,0,0,1,0,0,0,1,0,0,...,1,0,0,0,0,1,2,7,1,1
1,0.21,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,2,2,6,1,1
2,0.23,0,1,0,0,0,0,1,0,0,...,0,1,0,0,0,4,2,4,1,1

In [82]:
final_data.to_csv("diamonds_data.csv")